.button {
    margin-top: 3vh;
    background-color: #FC9B08;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    padding: 2.5vh 5vw;
    border-radius: 1rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}
